%section
  .row
    .col-md-12
      %h1.heading_main Get Involved
      %p.text-center
        Each pin on this map represents a site for a community garden.
        Watch and get involved in community garden projects near you!
  .row
    .col-md-12
      %div#map{:style => 'height: 500px'}
  .row
    .col-md-12
      %h2 What it all means
    .col-md-4
      .row
        .col-md-2
          = image_tag "/assets/pin-green.png", :size => '31x42', :alt => "grey map pin"
        .col-md-10
          %p
            %strong Active:
            There is an active community garden at this site. Get involved!
    .col-md-4
      .row
        .col-md-2
          = image_tag "/assets/pin-yellow.png", :size => '31x42', :alt => "grey map pin"
        .col-md-10
          %p
            %strong Proposed:
            People are working to start a community garden at this site.
            You can keep an eye on its progress by "watching" it.
    .col-md-4
      .row
        .col-md-2
          = image_tag "/assets/pin-orange.png", :size => '31x42', :alt => "grey map pin"
        .col-md-10
          %p
            %strong Potential:
            Our staff have reviewed this site and it could become a
            community garden. Interested? Let us know by "watching" it.
  .row
    .col-md-4
      .row
        .col-md-2
          = image_tag "/assets/pin-black.png", :size => '31x42', :alt => "grey map pin"
        .col-md-10
          %p
            %strong Unsuitable:
            Someone identified this as a potential community garden
            site, but unfortunately it's not suitable.
    .col-md-4
      .row
        .col-md-2
          = image_tag "/assets/pin-grey.png", :size => '31x42', :alt => "grey map pin"
        .col-md-10
          %p
            %strong Unknown:
            We don't know much about this site. Our staff will review it
            and mark it as either suitable or unsuitable.
    .col-md-4
      .row
        .col-md-12.text-center
          - if can? :create, Site
            = link_to "Add a site", new_site_path, :class => 'btn btn-primary btn-lg'
          - else
            = link_to "Add a site", new_user_session_path, :class => 'btn btn-primary btn-lg'
            %br/
            %small
              = render :partial => 'shared/signin_signup', :locals => { :to => 'add a site' }

    .col-md-8
