%section
  .row
    .col-md-12
      %h1.heading_main Major Partners
  .row.partner-logos
    .col-md-2
      &nbsp;
    .col-md-4
      %a(href="http://www.vichealth.vic.gov.au/" target="_blank")
        = image_tag("/assets/logo_vichealth_bw_50.png", :size => "273x50", :alt => "VicHealth")
    .col-md-4
      %a(href="http://www.tacsi.org.au/" target="_blank")
        = image_tag("/assets/logo_tacsi_bw_50.png", :size => "225x50", :alt => "TACSI")
    .col-md-2
      &nbsp;

  .row
    .col-md-12
      %h1.heading_main Partners
  .row.partner-logos
    .col-md-4
      %a(href="http://www.planisphere.com.au/" target="_blank")
        = image_tag("/assets/logo_planisphere_bw_60.png", :size => "233x60", :alt => "Planisphere")
    .col-md-4
      %a(href="http://harvestdp.com/" target="_blank")
        = image_tag("/assets/logo_harvest_bw_60.png", :size => "120x60", :alt => "Harvest Digital Planning")
    .col-md-4
      %a(href="http://www.rbg.vic.gov.au/" target="_blank")
        = image_tag("/assets/logo_botanical_bw_60.png", :size => "31x60", :alt => "Royal Botanic Gardens")
