- content_for :banner do
  %div.banner_inner.banner_home
    .container
      .row
        .col-md-6.left-col
          %h1
            3000
            %span acres
          %h3 aims to unlock underutilised land across the city to grow food and build strong communities
        .col-md-6.right-col
          %h3 Subscribe for project updates
          
          =form_tag("http://3000acres.us3.list-manage.com/subscribe/post?u=3d6770001275929f73950dfc2&amp;id=2011150da6", { :class => '', :target => '_blank' }) do
            .form-group
              = label_tag("EMAIL", "Email address", { :class => 'sr-only'})
              = email_field_tag("EMAIL", nil, { :placeholder => 'you@example.com', :class => 'col-xs-12 input-lg font-control' })
            %div{:style => "position: absolute; left: -5000px;"}
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              = text_field_tag("b_3d6770001275929f73950dfc2_2011150da6", nil)
            = submit_tag("Subscribe", { :class => 'btn btn-primary input-lg' })          
          
    %small.photo_attribute
      %a(target="blank" href="http://www.flickr.com/photos/28940296@N05/4991157749/sizes/l/in/photostream/") CC-BY-NC by aston5man (Flickr)

%div.section
  .row
    .col-md-12
      %h1.heading_main Find a project
      %p.heading_sub Explore opportunities to get involved in food projects in your neighbourhood
  .row
    .col-md-12
      %div#map{:style => 'height: 500px'}

%div.section
  .row
    .col-md-12
      %h1.heading_main PLACEHOLDER
  .row
    .col-md-8
      %p hsa dhja sdhj sadjh asjhd asjhd asjh djhas djhas djahs djhas d
    .col-md-4
      = render :partial => 'facebook'

%div.section.partners
  .row
    .col-md-12
      %h1.heading_main PARTNERS
  .row
    .col-md-4
      %a(href="http://www.vichealth.vic.gov.au/" target="_blank")
        = image_tag("/assets/logo_vichealth_60.png", :size => "312x60", :alt => "VicHealth")
    .col-md-4
      %a(href="http://www.tacsi.org.au/" target="_blank")
        = image_tag("/assets/logo_tacsi_60.png", :size => "294x60", :alt => "TACSI")
    .col-md-4
      %a(href="http://harvestdp.com/" target="_blank")
        = image_tag("/assets/logo_hdp_100.png", :size => "190x100", :alt => "Harvest Digital Planning")
