- content_for :banner do
  #homepage-banner
    .container
      .row
        .col-sm-3
          = image_tag("/assets/3000acres_logo.png", :alt => ENV['acres_site_name'], :class => "logo")
        .col-sm-9
          %h1
            %span.subhead
              != cms_editable_snippet(:homepage_banner_sub)


#homepage
  .about.stripe
    .container
      %h1
        != cms_editable_snippet(:homepage_about_header)
      %h4
        != cms_editable_snippet(:homepage_about_body)
      != cms_snippet_edit_link(:homepage_video_button)

      .action-buttons
        %a{ :href => "http://www.youtube.com/watch?v=udidk7yivi4", role: "button", :class => "btn btn-default btn-lg"}
          != cms_snippet_content(:homepage_video_button)
        - if !user_signed_in?
          %a{ :href => "/users/sign_up", role: "button", :class => "btn btn-primary btn-lg"}
            Sign up

  .connect.stripe
    .container
      %h1
        != cms_editable_snippet(:homepage_connect_header)
      .subscribe.row    
        %h3.col-xs-6
          != cms_editable_snippet(:subscribe)
        .col-xs-6
          = render :partial => 'shared/subscribe'
      .facebook.row
        .snippet-wrapper.col-xs-12
          != cms_snippet_edit_link(:homepage_connect_facebook)
          %a{ href: "http://facebook.com/3000acres", target: "_blank"}
            %h3
              != cms_snippet_content(:homepage_connect_facebook)
              -# %span.sm_icon.facebook
      .twitter.row
        .snippet-wrapper.col-xs-12
          != cms_snippet_edit_link(:homepage_connect_twitter)
          %a{ :href => "http://twitter.com/3000acres", target: "_blank"}
            %h3
              != cms_snippet_content(:homepage_connect_twitter)
              -# %span.sm_icon.twitter
  .sites.stripe
    .container
      %h1 
        .snippet-wrapper 
          != cms_editable_snippet(:homepage_sites_header)
      = render :partial => 'shared/featured_sites'
      .row
        .col-xs-12
          = render :partial => 'shared/find_sites_button'
  .partners.stripe
    .container
      %h1
        != cms_editable_snippet(:homepage_partners_title)
      %a{ href: 'http://www.vichealth.vic.gov.au/', target: '_blank'}
        %img{ alt: "VicHealth", height: "50", src: "/assets/logo_vichealth_bw_50.png", width: "273"}
