- content_for :banner do
  .jumbotron
    %h1
      3000 Acres
      %br
      %span.subhead Connecting People to Land
    %p 
      We're unlocking vacant land across Melbourne to grow food and build strong communities.

    =form_tag("http://3000acres.us3.list-manage.com/subscribe/post?u=3d6770001275929f73950dfc2&amp;id=2011150da6", { :class => 'form-inline', :target => '_blank' }) do
      .form-group
        = label_tag("EMAIL", "Email address", { :class => 'sr-only'})
        = email_field_tag("EMAIL", nil, { :placeholder => 'you@example.com', :class => 'col-xs-12 input-lg font-control' })
      %div{:style => "position: absolute; left: -5000px;"}
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        = text_field_tag("b_3d6770001275929f73950dfc2_2011150da6", nil)
      = submit_tag("Newsletter subscribe", { :class => 'btn btn-primary input-lg' })

    %small.photo_attribute
      %a(target="blank" href="http://www.flickr.com/photos/28940296@N05/4991157749/sizes/l/in/photostream/") CC-BY-NC by aston5man (Flickr)

#homepage
  = render :partial => 'map'

  %section
    .row
      .col-md-12
        %h1 Find out more
        %p
          We believe everyone should have access to great local food.  At
          3000 Acres, we're trying to bridge the gap between people who want
          to grow food, and local councils and other organisations who hold
          the keys to vacant land.
        %p
          Find out more by
          = succeed "," do
            = link_to "watching our video", "http://www.youtube.com/watch?v=udidk7yivi4"
          = succeed "," do
            = link_to "following us on Twitter", "http://twitter.com/3000acres"
          or 
          = succeed "." do
            = link_to "liking us on Facebook", "https://www.facebook.com/3000acres"

        .visible-md.visible-lg
          = render :partial => 'facebook'

  = render :partial => 'partners'

  %div#ModalNewsVideo.modal.fade
    %div.modal-dialog
      %div.modal-content
        %div.modal-body
          %iframe(width="560" height="315" src="//www.youtube.com/embed/udidk7yivi4" frameborder="0" allowfullscreen)
