- content_for :title do
  Events
#events
  .container
    - @events.sort_by { |e| e.start_time }.each do |event|
      .row
        .col-sm-3
          -if !event.cover.blank?
            = image_tag event.cover.source
        .col-sm-9
          -if !event.name.blank?
            %h3
              = link_to event.name, "http://facebook.com/events/#{event.id}", :target => "_blank"
          -if !event.site.blank?
            %h4
              %a{ href: event.site.url }
                = event.site.name 
          %p
            %em
              = event.times
          -if !event.description.blank?
            %p 
              = event.description
          -if !event.place.blank?
            %p
              %strong
                = event.place.name + " - "
                = event.place.location.street
                = event.place.location.city
