%p
  Hi, #{@user.name}!

%p
  Thanks for adding #{@site.to_s} to #{ENV['acres_site_name']} as a
  potential or actual community garden.

%p
  Here's a link to it for your reference:
  = link_to site_url(@site), site_url(@site)

%p
  We are working hard to create a toolkit which should help you gain
  access to this land and start growing fruit and veg. This will be
  available soon on our website.

%p
  If you don't want to receive these emails, simply hop on over to
  #{ENV['acres_site_name']} and login to your account to
  = succeed "." do
    = link_to "change your email settings", edit_user_registration_url

%p
  Yours,
%p
  The #{ENV['acres_site_name']} team
  %br/
  = link_to ENV['acres_host'], ENV['acres_host']
  
