- site_name = Figaro.env.acres_site_name
%p Hello #{@resource.name},

%p
  Your account on #{site_name} has been created.  You just need to confirm
  your email address through the link below:

%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token)

%p
  Once you're confirmed, you can sign in with your email address
  (#{@resource.email}) and the password you provided when you signed up.
  Note that your password is case sensitive.

%p Looking forward to seeing you!

%p
  The #{site_name} team.
  %br/
  = link_to root_url, root_url
