= simple_form_for(@site) do |f|
  - if f.error_notification.blank?
    %p
      != cms_snippet_content(:site_add_intro)

  = f.error_notification
  .form-inputs
    - if f.object.image.exists?
      .col-sm-offset-4.col-md-offset-4.col-lg-offset-3
        = link_to image_tag(f.object.image.url(:small), title: f.object.image_file_name, alt: f.object.image_file_name), f.object.image.url(:original)
    = f.input :image, as: :file, label: "Image"
    = f.input :address, :placeholder => '99 Bourke St', :hint => "Don't know the address, or the site doesn't have one? Just pick something as close as possible for now."
    = f.input :suburb, :placeholder => 'Melbourne'
    = f.input :local_government_area_id, :as => 'select', :collection => LocalGovernmentArea.all

    = f.input :name, :placeholder => "Our fantastic food garden", :hint => "Optional (we'll use the address if you don't give us one)."

    = f.input :description
    = f.input :facebook, :placeholder => "facebook.com/3000acres"
    = f.input :website, :placeholder => "http://fantasticgarden..."

    - if can? :set_status, Site
      = f.input :status, :as => 'select', :collection => Site::STATUSES, :default => 'potential'

    = f.input :size, :label=> "Size (square metres)"
    = f.input :water, :label => 'Water available?', :as => 'select'
    = f.input :available_until, :as => 'string', :placeholder => '2015-01-01', :hint => "YYYY-MM-DD format; leave blank if it's available indefinitely."
    = f.input :contact, :label=> "Contact details"
    - if can? :set_featured, Site
      = f.input :featured, :label => 'Feature this site?' 

  .form-actions
    = f.button :submit
