= simple_form_for(@site) do |f|
  = f.error_notification

  %p
    != cms_snippet_content(:site_add_intro)

  .form-inputs
    = f.input :address, :placeholder => '99 Bourke St', :hint => "Don't know the address, or the site doesn't have one? Just pick something as close as possible for now."
    = f.input :suburb, :placeholder => 'Melbourne'
    = f.input :local_government_area_id, :as => 'select', :collection => LocalGovernmentArea.all

    = f.input :name, :placeholder => "Our fantastic food garden", :hint => "Optional (we'll use the address if you don't give us one)."

    = f.input :description
    = f.input :website, :placeholder => "http://fantasticgarden..."

    - if can? :set_status, Site
      = f.input :status, :as => 'select', :collection => Site::STATUSES, :default => 'unknown'

    = f.input :size, :label=> "Size (square metres)"
    = f.input :water, :label => 'Water available?', :as => 'select'
    = f.input :available_until, :as => 'string', :placeholder => '2015-01-01', :hint => "YYYY-MM-DD format; leave blank if it's available indefinitely."

  .form-actions
    = f.button :submit
