- content_for :title do
  !=cms_snippet_content(:sites_title)

- content_for :title_wrapper do
  !=cms_snippet_edit_link(:sites_title)

#sites
  .about.stripe
    .container
      %h3
        != cms_editable_snippet(:sites_about_body)

      .action-buttons
        != cms_snippet_edit_link(:get_started_button)
        %a{ :href => "/get_started", role: "button", :class => "btn btn-default btn-lg"}
          != cms_snippet_content(:get_started_button)
        = render :partial => 'shared/add_site'

  .map.stripe
    = render :partial => 'shared/map'

  - if user_signed_in? && current_user.has_role?(:admin)
    .container
      = render :partial => 'sites/admin'
