.container
  .row
    .col-md-4
      %h4 Connect with us
      %ul.sm_icons
        %li
          %a(href="http://facebook.com/3000acres" target="_blank")
            %div.facebook.sm_icon
              %span.sr-only Facebook
        %li
          %a(href="http://twitter.com/3000acres" target="_blank")
            %div.twitter.sm_icon
              %span.sr-only Twitter

      #newsletter-footer
        %p Subscribe to our newsletter

        =form_tag("http://3000acres.us3.list-manage.com/subscribe/post?u=3d6770001275929f73950dfc2&amp;id=2011150da6", { :class => 'form-inline', :target => '_blank' }) do
          .form-group
            = label_tag("EMAIL", "Email address", { :class => 'sr-only'})
            = email_field_tag("EMAIL", nil, { :placeholder => 'you@example.com', :class => 'form-control' })
          %div{:style => "position: absolute; left: -5000px;"}
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            = text_field_tag("b_3d6770001275929f73950dfc2_2011150da6", nil)
          = submit_tag("Subscribe", { :class => 'btn btn-primary' })

    .col-md-4
      %h4 Major partners
      %ul.partners
        %li
          = link_to "http://www.vichealth.vic.gov.au/", { :target => %'_blank' } do
            = image_tag("/assets/logo_vichealth_30.png", :size => "156x30", :alt => "VicHealth")
        %li
          = link_to "http://www.tacsi.org.au/", { :target => %'_blank' } do
            = image_tag("/assets/logo_tacsi_30.png", :size => "147x30", :alt => "TACSI")
    .col-md-4
      %h4 Open Source
      %ul
        %li
          Licensed under
          = link_to "AGPLv3", "https://raw.github.com/3000acres/3000acres/dev/LICENSE.txt"
        %li= link_to "Source code", "https://github.com/3000acres/3000acres"
        %li= link_to "Project mailng list", "https://groups.google.com/forum/#!forum/3000acres-discuss"
