%title
  - if ! cms_page_content(:title).blank?
    = cms_page_content(:title)
    \:
    = Figaro.env.acres_site_name
  - elsif content_for?(:title)
    = yield(:title)
    \:
    = Figaro.env.acres_site_name
  - else
    = Figaro.env.acres_site_name
