%title
  - if ! cms_page_content(:title).blank?
    = cms_page_content(:title)
    \:
    = ENV['acres_site_name']
  - elsif content_for?(:title)
    = yield(:title)
    \:
    = ENV['acres_site_name']
  - else
    = ENV['acres_site_name']
